// * {
//   list-style: none;
//   box-sizing: border-box;
//   font-family: 'Noto Sans KR', sans-serif;
//   margin: 0;
//   padding: 0;
// }


// .App {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
// }

// .nav {
//   width: 30%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .inner {
//     width: 90%;
//     height: 90%;

//     .list {
//       width: 90%;
//       height: 85%;
//       overflow-y: scroll;
//       border: .05vw solid green;
//       transition: .5s;

//       &:hover{
//         box-shadow: 0 0 1vw 0 rgba(green,.4);
//       }

//       &>li {
//         &.active {
//           font-weight: 700;
//           color: green;
//         }

//         &:not(:last-child){
//           border-bottom: .005vw solid rgba(black, .15);
//         }

//         width: 100%;
//         height: 20%;
//         background-color: #fff;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;

//         &:hover {
//           font-weight: 700;
//           background-color: rgba(black, .05);
//         }
//       }
//     }
//   }
// }

// .content {
//   width: 75%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .inner {
//     width: 95%;
//     height: 90%;
//     display: flex;
//     justify-content: space-between;

//     .targetBox {
//       width: 33%;
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       border: 1px solid black;

//       .target {
//         padding: 2%;
//         width: 100%;
//         height: 90%;
//         resize: none;
//         font-weight: 100;
//         color: blue;
//         font-size: .5vw;
//         border: none;
//       }

//       .btnCopy {
//         width: 100%;
//         height: 10%;
//         border: none;
//         border-top: 1px solid black;
//         cursor: pointer;
//         font-size: 1.2vw;

//         &:hover {
//           background-color: rgba(green, .7);
//           color: white;
//           font-weight: 700;
//         }

//         &:active{
//           background-color: rgba(green, .9);
//           color: white;
//           font-size: 95%;
//         }
//       }

//     }
//   }
// }

// .alertMsg{
//   width: 20vw;
//   height: 10vh;
//   position: fixed;
//   color: white;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: black;
//   border-radius: 2vw;
//   opacity: 0;
// }

// @keyframes copyMsg {
//   0%{
//     opacity: 0;
//   }
//   75%{
//     opacity: 1;
//   }
//   100%{
//     opacity: 0;
//   }

// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.inner {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;

}

.menuList {
  width: 30vw;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }

  @keyframes menuShow {
    0%{
      opacity: 0;
      margin-left: -10vw;
    }
    100%{
      opacity: 1;
      visibility: visible;
    }
  }

  .menuEl {
    width: 90%;
    height: 15vh;
    border: .1vw solid #2279E4;
    color: #2279E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    font-size: 1vw;
    border-radius: .5vw;
    cursor: pointer;
    transition: .3s;
    margin: 1vw;
    visibility: hidden;
    animation: menuShow .5s linear forwards;

    @for $index from 0 to 100{
      &:nth-child(#{$index}){
        animation-delay: $index*.15s;
      }
    }

    &:hover {
      scale: 1.03;
      font-weight: 700;
    }

    &:active {
      scale: .95;
    }

    &.active {
      background-color: #2279E4;
      color: white;
      font-weight: 500;
      font-size: 1.1vw;
      margin-left: 2vw;
    }

  }
}

.contentBox {
  width: 60%;
  height: 100%;
  background-color: #2279E4;
  position: relative;

  .inner{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .intro {
    width: 100%;
    height: 50%;
    background-color: white;
  }

  .sqlList {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    .sqlEl {
      width: 32%;
      height: 90%;
      background-color: white;
      padding: 2vw;
      cursor: pointer;
      transition: .2s;
      position: relative;

      &:hover {
        color: #2279E4;
        margin-bottom: 1vh;

        .info {
          font-weight: 100;
          color: black;
        }
      }

      .info {
        font-size: 1vw;
        font-weight: 100;
        color: black;
      }

      .number {
        font-weight: 700;
        font-size: 1.5vw;
      }

      .name {
        font-size: 2.5vw;
        font-weight: 700;
      }

      .btnList {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          width: 45%;
          height: 45%;
          cursor: pointer;
          border: none;
          box-shadow: 0 0 .1vw 0 rgba($color: #000000, $alpha: .6);
          background-color: white;
          font-weight: 700;
          transition: .3s;
        }

        .copy {
          color: #2279E4;

          &:hover {
            background-color: #2279E4;
            color: white;
          }
        }

        .about:hover {
          background-color: #EEEEEE;

        }
      }
    }
  }
}

.aboutPage{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(black,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;

  &.active{
    opacity: 1;
    z-index: 2;
  }

  .aboutBox{
    width: 60%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner{
      width: 80%;
      height: 90%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .target{
        width: 100%;
        height: 80%;
        resize: none;
        padding: 5%;
        font-weight: 400;
      }
    }
  }
}